body {
	color: #fff;
	background-color: #fff;
	max-width: 1400px;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
}




/* HEADER */
header .navbar {
	font-size: .9em;
	font-weight: bold;
	padding-left: 0;
	padding-right: 0;
	padding-top: 10px;
}

/* gets rid of toggler's border */
header .navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
	border: none;
	outline: none;
	padding-right: 0;
}

/* logo on the left of header */
#logo_img { width: 100px;}
#logo_text { width: 180px;}

/* icons on the right of header */
header .icon_sm { width: 25px;}
header .navbar-text img { margin-right: 10px;}

/* menu links on the right of header */
header .navbar-nav {
	clear: right;
	text-align: right;
	text-transform: uppercase;}
header .navbar-nav .nav-item { padding-left: 25px;}

/* menu link hover color change */
header .navbar-nav li a:hover { color: #FF4500 !important; transition: .3s;}
header .navbar-nav li a:active { color: #FF4500 !important;}
/* END OF HEADER */




/* BODY */
section {
	margin-bottom: 25px;
}

.carousel-inner img {
	object-fit: cover;
	height: 450px;
}

.top-tiles, .mid-tiles, .bot-tiles {
	height: 180px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

#menu-tile1 {
	background: url('../images/li_menu_img1.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}

#menu-tile2 {
	background: url('../images/li_menu_img2.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}

#menu-tile3 {
	background: url('../images/li_menu_img3.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}

#menu-tile4 {
	background: url('../images/li_menu_img4.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}

#info-tile1 {
	background: skyblue;
	background-position: center;
	background-size: cover;
}

#info-tile2 {
	background: pink;
	background-position: center;
	background-size: cover;
}

#map-tile {
	background: grey;
	background-position: center;
	background-size: cover;
}

#spcs-tile {
	background: green;
	background-position: center;
	background-size: cover;
}
/* END OF BODY */




/* FOOTER */
footer .nav { font-size: .7em; padding-bottom: 10px;}

/* fix footer links display */
#cp_text { color: #696969 !important;}
footer .nav-link { padding: 0 20px 10px 5px;}
/* END OF FOOTER */



/***** Extra-large Devices Only *****/
@media (min-width: 1200px) {file:///C:/Users/Home/choongman/main/index.html#

}

/***** Large Devices Only (Laptop) *****/
/***** Medium Devices Only (Tablet) *****/
@media (max-width: 1199px) {
	/* HEADER */
	#logo_img { width: 80px;}
	#logo_text { width: 160px;}file:///C:/Users/Home/choongman/main/index.html#
	/* END OF HEADER */
	
	/* BODY */
	.carousel-inner img {
		object-fit: cover;
		height: 350px;
	}
	/* END OF BODY */
}

/***** Small Devices Only (Mobile) *****/
@media (max-width: 767px) {
	/* HEADER */
	#logo_img { width: 0;}
	#logo_text { width: 140px;}
	
	.navbar-text img { margin-right: 5px;}
	.navbar-toggler { padding-left: 10px;}
	/* END OF HEADER */

	/* BODY */
	.carousel-inner img {
		object-fit: cover;
		height: 200px;
	}
	/* END OF BODY */
}

