body {
	color: #fff;
	background-color: #fff;
	max-width: 1400px;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	font-size: .9em;
}

/* hover zoom in */
a div { transition: transform .5s ease;}
a div:hover { opacity: .8; transform: scale(.9);}

/* HEADER */
header .navbar {
	padding-left: 0;
	padding-right: 0;
	padding-top: 10px;
}

/* gets rid of toggler's border */
header .navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
	border: none;
	outline: none;
	padding-right: 0;
}

/* logo on the left of header */
header #logo_img { width: 100px;}
header #logo_text { width: 180px;}

/* icons on the right of header */
header .icon_sm { width: 25px;}
header .navbar-text img { margin-right: 10px;}

/* menu links on the right of header */
header .navbar-nav {
	clear: right;
	text-align: right;
	text-transform: uppercase;}
header .navbar-nav .nav-item { padding-left: 25px;}

/* menu link hover color change */
header .navbar-nav li a:hover { color: #FF4500 !important; transition: .3s;}
header .navbar-nav li a:active { color: #FF4500 !important;}
/* END OF HEADER */




/* BODY */
/* HOME */
#page_main .carousel-inner img {
	object-fit: cover;
	height: 450px;
}

/* assigning height to each row */
/* map-tile has to match height */
#page_main .r1_tiles, .r2_tiles {
	height: 350px;
	overflow: hidden;
}
#page_main .r3_tiles {
	height: 150px;
	overflow: hidden;
}

/* putting picture to each tile */
#page_main  #tilepic_menu1 {
	height: 50%;
	background: url('../images/img_menu1.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}
#page_main #tilepic_menu2 {
	height: 50%;
	background: url('../images/img_menu2.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}
#page_main #tilepic_best {
	height: 100%;
	background: url('../images/img_best.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}
#page_main #tilepic_offers {
	height: 100%;
	background: url('../images/img_offers.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}
#page_main #tilepic_hrs {
	height: 50%;
	background: url('../images/store_hrs.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}
#page_main #tilepic_ct {
	height: 50%;
	background: url('../images/contact_us.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}
#page_main #tilepic_extra {
	height: 100%;
	background: url('../images/img_extra.png') no-repeat;
	background-position: left;
	background-size: contain;
}
/* END OF HOME */




/* ABOUT */
.jumbotron {
	background: url('../images/store_photo.jpg') no-repeat;
	background-size: cover;
	height: 450px;
}

/* putting background img behind text */
#about_body {
	background: url('../images/bg_about.png') no-repeat;
	padding-top: 60px;
	padding-bottom: 40px;
	background-position: center;
	background-size: cover;
	opacity: .9;
	text-align: center;
	color: black;
}

/* updating text display */
.about_title {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	line-height: 1.4em;
	margin-bottom: 20px;
}
.about_text {
	font-size: .9em;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 2em;
}

/* icons on the bottom of about */
#about_body .store_info img { 
	width: 50px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 60px;
	transition: transform .5s ease;
}
#about_body .store_info img:hover { opacity: .8; transform: scale(.9);}
/* END OF ABOUT */




/* CONTACT */


/* END OF CONTACT */




/* END OF BODY */




/* FOOTER */
footer .nav { font-size: .8em; padding-top: 20px; padding-bottom: 10px;}
footer .nav-link { padding-right: 20px; padding-left: 5px;}
#cp_text { color: #696969 !important;}
/* END OF FOOTER */




/***** Extra-large Devices Only *****/
@media (min-width: 1200px) {

}

/***** Large Devices Only (Laptop) *****/
@media (max-width: 1199px) {
	/* HEADER */
	header #logo_img { width: 80px;}
	header #logo_text { width: 160px;}
	/* END OF HEADER */
	
	/* BODY */
	#page_main .carousel-inner img {
		object-fit: cover;
		height: 400px;
	}
	#page_main .r1_tiles, .r2_tiles { height: 300px;}
	#page_main .r3_tiles { height: 150px;}
	
	.jumbotron { height: 400px;}
	/* END OF BODY */
}

/***** Medium Devices Only (Tablet) *****/
@media (max-width: 991px) {
	/* BODY */
	#page_main .carousel-inner img {
		object-fit: cover;
		height: 350px;
	}
	#page_main .r1_tiles, .r2_tiles { height: 250px;}
	#page_main .r3_tiles { height: 100px;}
	
	.jumbotron { height: 350px;}
	/* END OF BODY */
}

/***** Small Devices Only (Mobile) *****/
@media (max-width: 767px) {
	/* HEADER */
	header #logo_img { width: 0;}
	header #logo_text { width: 140px;}
	
	header .navbar-text img { margin-right: 5px;}
	header .navbar-toggler { padding-left: 10px;}
	/* END OF HEADER */

	/* BODY */
	#page_main .carousel-inner img {
		object-fit: cover;
		height: 250px;
	}
	#page_main .r1_tiles, .r2_tiles { height: 150px;}
	#page_main .r3_tiles { height: 100px;}
	
	.jumbotron { height: 250px;}
	#about_body {padding-top: 20px;}
	/* END OF BODY */
}